.logo {
    font-family: Rubik!important;
}
.logo a {
    color: #fff;
    text-decoration: none;
    font-family: Baloo Bhaina;
}

.icon {
    padding-right: 1em;
}
.headroom {
    margin-bottom: 2em;
}
.searchbox {
    float:right;
    width: 100%;
}


